section{
    /* height: 500px; */
    background-color:white;
    /* border: 1px solid black; */
    
}

body{
    font-family: 'Poppins', sans-serif;
}

nav{

    display: flex;
    justify-content: space-between;
    /* Adjust padding if needed  to solve any mobile responsiveness issues*/
    /* padding: 2rem;  */
    

}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 500px;
    font-size: 30px;
}


li{
    /* width: 200px; */
    text-decoration: none;
    padding: 0.5rem;
}

h1{
    font-size: 90px;
    margin:0;

}

/* maybe drop down to 50px depending on how it looks on mobile */
h2{
    font-size: 50px;

}

p{
    margin: 0;
    font-size:30px;
    font-weight: 300px;
}

hr{ 
    margin-left: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

#contact-me{
    color: white;
}








.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;

}

.hero-area {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;

}

.hero-text{
    margin-left:40px;
    margin-bottom: 200px;
    /* line-height: 2; */
}

.button{
    /* width: 200px;
    height: 55px; */
    width: 14rem;
    height: 4rem;
    border-radius: 30px;
    background-color: coral;
    font-size: 30px;
    font-weight: 300px;
    text-align: center;
    align-items: center;
    padding-top:22px;
    margin-top: 20px;
}

.cv-button{
    width: 20rem;
    height: 4rem;
    border-radius: 30px;
    background-color: coral;
    font-size: 30px;
    font-weight: 300px;
    text-align: center;
    align-items: center;
    padding-top:30px;
    margin-top: 50px;
}

    

.button:hover{
    background-color:#ef744b;

}

.button:active{
    background-color: darkgrey;
    color: #808080;
}

.socials{
    margin-bottom: 200px;
    margin-right:20px;
    /* margin-top:50px; */
    /* justify-content: space-evenly; */
    
}

.social-icon{
    margin: 20px;
}



.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    /* setting 100vh for this section breaks the headshot image positioning - leave this for now and maybe revisit this in future and try setting 100vh for each section with an animation to transition between */
    /* height: 100vh; */

}

.sub-section p {
    font-size: 30px;
}

.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot-container{
    display: block;
    /* align-items: center; */
    /* justify-content: start; */
    margin:1rem;
}

.headshot{
    width:378px;
    height: 504px;
    border-radius: 300px;
    margin-left: 80px;
}

.project-hero-container{

    display: inline-block;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    padding-top:0px;
    padding-bottom:2rem;

    /* /* display: inline-block; */
    justify-content: center;
    /* flex-wrap: wrap; */
    /* width:75vh; */
    May need to remove flex wrap here and replace it with media queries later, or use them both together */
    
}

.project-card-hero{
    /* changed from ixels to view width here to control positioning better */
    width:auto;
    min-width: 400px;
    /* may need to set heigh back from auto to 800px if all the cards ends up being different sizes once content is added to them */
    height:auto;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px rgb(185, 183, 183);
    margin: 10px;
    padding:30px;
    
    
}

.project-container{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* May need to remove flex wrap here and replace it with media queries later, or use them both together */
    
}

.project-card{
    /* changed from ixels to view width here to control positioning better */
    width:25vw;
    min-width: 400px;
    /* may need to set heigh back from auto to 800px if all the cards ends up being different sizes once content is added to them */
    height:auto;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px rgb(185, 183, 183);
    margin: 10px;
    padding:30px;
    
    
}


.subtext{
    font-size:20px;
    font-weight: 300;
}


.project-image{
    width:250px;
    /* border-radius: 250px; */
    margin-top:25px;    
}

.project-link{
    text-decoration: none;
    color: coral;
    font-size: 25px;
    font-weight: 200px;
}


.logo{

}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }

    .project-card{
        width:75vw;
    }

    .hamburger {
        display: block;
        border:0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    .hamburger:focus {
       outline: 0;
    }

    ul{
        display:none;
        background-color: #2b2c38;
        margin: 0px;
        

    }

    ul.show{
        display: block;
        
    
    }

    nav{
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;

    }

    .logo{
        display:none;
    }

    .sub-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding: 80px;
    
    }

    .hero-text{
       flex-wrap: wrap;
    }

    .headshot-container{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
   /* .cv-button{
    justify-content: center;
   } */

   .information{
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column; 
}

.cv-button{
    width: 20rem;
    height: 5rem;
    border-radius: 30px;
    background-color: coral;
    font-size: 30px;
    font-weight: 300px;
    text-align: center;
    align-items: center;
    padding-top:50px;
    margin-top: 75px;
    justify-content: center;
}


    .project-card-hero{
        /* changed from pixels to view width here to control positioning better */
        width:75vh;
        /* min-width: 400px; */
        /* may need to set heigh back from auto to 800px if all the cards ends up being different sizes once content is added to them */
        height:auto;
        /* border: 1px solid black; */
        box-shadow: 5px 5px 20px rgb(185, 183, 183);
        margin: 10px;
        padding:30px;
        
        
    }
}
